<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comigue.com.br.comigue">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CadastrarActivity"></activity>
        <activity android:name=".InicioActivity"></activity>
        <activity android:name=".CalendarioActivity"></activity>
        <activity android:name=".DiaActivity"></activity>
        <activity android:name=".NovaTarefaActivity"></activity>
        <activity android:name=".NovaMateriaActivity"></activity>
        <activity android:name=".NovoPlanoDeEnsinoActivity"></activity>
        <activity android:name=".EditarPerfilActivity"></activity>
        <activity android:name=".AnotacaoActivity"></activity>
        <activity android:name=".PlanoDeEnsinoActivity"></activity>
    </application>

</manifest>
